@model IEnumerable<ThirdPartyDbWebAPI.ModelsView.BookingMini>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consultant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Entered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sales_Update)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullReference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consultant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Entered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sales_Update)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
